.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.left-container,
.right-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container {
    background-color: #f0f0f0;
}

.right-container {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-button {
    padding: 10px 20px;
    margin: 10px 10px 10px 10px;
    font-size: 16px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #0f7ae5;
}

.navbar {
    background-color: #4f4f4f;
    padding: 20px;
    text-align: center;
}

.navbar h1 {
    color: white;
    margin: 0;
}

body {
    margin: 0;
}
